<div class="flex justify-end  py-2 px-4">

    <a href="producto/crear" class="bg-blue-500 text-white  py-2 px-4 rounded hover:bg-blue-600">
      <i class="fa-solid fa-plus text-center"></i> producto
    </a>

</div>
<div class="service-item w-[80vw] mx-auto px-4 py-8 ">
  <div class="service-item-content">
    <table class="pdi-times">
      <thead>
        <tr>
          <th scope="col">Producto</th>
          <th style="text-align: center;" scope="col">ID</th>
          <th style="text-align: center;" scope="col">Clase</th>
          <th style="text-align: center;" scope="col">Precio</th>
          <th style="text-align: center;" scope="col">Estado</th>
          <th style="text-align: center;" scope="col">Aciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of listProduct">
          <td>{{product.nombre}}</td>
          <td style="text-align: center; color: green;">{{product.id}}</td>
          <td style="text-align: center; color: green;">{{product.clase_id}}</td>
          <td style="text-align: center; color: green;">{{product.precio}}</td>
          <td style="text-align: center; color: green;">

            <span *ngIf="product.estado" class="inline-flex items-center px-3 py-1 text-sm font-medium text-white bg-green-500 rounded-full">
             Activo
            </span>

            <span *ngIf="!product.estado"class="inline-flex items-center px-3 py-1 text-sm font-medium text-white bg-red-500 rounded-full">
              Desactivado
            </span>
          </td>
          <td style="text-align: center; color: green;">

            <button class="pr-4" title="Editar"
            (click)="editarProduct(product.id!)">
              <i class="fa-solid fa-pen-to-square text-blue-500" ></i>
            </button>

            <button title="Eliminar"
            (click)="deleteProduct(product.id!,product.estado!)">
              <i class="fa-solid fa-trash text-blue-500"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
